<h1> Acá esta el título</h1>
  <!-- <%= render "class22/test"%> -->
  <%= render partial: "class22/test", locals: { color: "red" } %>
  <%= render partial: "shared/form", locals: {title: "Vamos a Crear!"} %>
<p>Estás en el Home!</p>
  <%= render "class22/test"%>

<h1> <%= @saludo %> </h1>
